{% extends "base.html" %}
{% block content %}
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h2 style="margin-top: 8px;">Swiecicki's Grind Martingale Strategy Output Report</h2>
            </div>
        </div>
        <hr style="margin-top: 8px;">
        <div class="row">
            <div class="col-md-auto">
                <h4 style="margin-bottom: 12px;">Longest Martingale Bet Sequence with Maximum Win EV Sum</h4>
                {{ bet_sequence_table }}
            </div>
            <div class="col">
                <h4 style="margin-bottom: 12px;">Input Parameters</h4>
                <p class="input_parameter">Strategy: <b>{{ strategy }}</b></p>
                <p class="input_parameter">Table Type: <b>{{ table_type }}</b></p>
                <p class="input_parameter">Minimum Bet: <b>{{ min_bet }}</b></p>
                <p class="input_parameter">Maximum Bet: <b>{{ max_bet }}</b></p>
                <p class="input_parameter">Minimum Bet Increment: <b>{{ min_bet_increment }}</b></p>
                <p class="input_parameter">Winning Positions: <b>{{ winning_positions }}</b></p>
                <p class="input_parameter">Payout Factor: <b>{{ payout_factor }}</b></p>
                <hr>
                <p class="summary_stat_msg">The required bankroll to run this strategy is <b>${{ "%.2f"|format(required_bankroll) }}</b></p>
                <p class="summary_stat_msg">The probability you would lose every bet in this sequence is <b>{{ "%.4f"|format(p_lose_all * 100) }}%</b></p>
                <p class="summary_stat_msg">The amount you will win on average each time you win, the win ev sum, is <b>${{ "%.2f"|format(win_ev_sum) }}</b></p>
                <p class="summary_stat_msg">The amount you will actually lose or gain in the long run each time you play a sequence, the net ev, is <b>{% if net_ev > 0 %} ${{ "%.2f"|format(net_ev) }} {% else %} -${{ "%.2f"|format(net_ev * -1) }} {% endif %}</b></p>

                {% if five_perc_loss_true_p == p_lose_all %}
                <p class="summary_stat_msg">It isn't possible to have a 95% chance of not losing. The best you can do is play one sequence and have a <b>{{ "%.4f"|format((1 - five_perc_loss_true_p) * 100) }}%</b> chance of winning <b>${{ "%.2f"|format(five_perc_loss_exp_win) }}</b></p>
                {% else %}
                <p class="summary_stat_msg">With a <b>{{ "%.4f"|format((1 - five_perc_loss_true_p) * 100) }}%</b> chance of not losing you could play this sequence <b>{{ five_perc_loss_runs }}</b> times. If you won in every single sequence you played you could expect to win <b>${{ "%.2f"|format(five_perc_loss_exp_win) }}</b></p>
                {% endif %}

                {% if ten_perc_loss_true_p == p_lose_all %}
                <p class="summary_stat_msg">It isn't possible to have a 90% chance of not losing. The best you can do is play one sequence and have a <b>{{ "%.4f"|format((1 - ten_perc_loss_true_p) * 100) }}%</b> chance of winning <b>${{ "%.2f"|format(ten_perc_loss_exp_win) }}</b></p>
                {% else %}
                <p class="summary_stat_msg">With a <b>{{ "%.4f"|format((1 - ten_perc_loss_true_p) * 100) }}%</b> chance of not losing you could play this sequence <b>{{ ten_perc_loss_runs }}</b> times. If you won in every single sequence you played you could expect to win <b>${{ "%.2f"|format(ten_perc_loss_exp_win) }}</b></p>
                {% endif %}
                <!-- TODO: Make it so that you can input any loss threshold you'd like and it comes back with runs and expected winnings. -->
            </div>>
        </div>
    </div>
</main>
{% endblock %}
