{% extends "base.html" %}
{% block content %}
<main>
    <!-- TODO: Add sidebar for navigating between sections -->
    <!-- TODO: Add CSV download button(s) for the data -->
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h2 style="margin-top: 8px;">Swiecicki's Grind Simulation Results Report</h2>
            </div>
        </div>
        <hr style="margin-top: 8px;">
        <div class="row">
            <div class="col-md-auto">
                <h4 style="margin-bottom: 12px;">Summary Statistics</h4>
                <p>Out of {{ sim_count }} simulations:</p>
                <p>&emsp; <b>{{ profited_count }}</b> or <b>{{ "%.4f"|format(p_profited * 100) }}%</b> made profit with an average profit of <b>${{ "%.2f"|format(average_profit) }}</b></p>
                <p>&emsp; <b>{{ busted_count }}</b> or <b>{{ "%.4f"|format(p_busted * 100) }}%</b> busted with an average loss of <b>-${{ "%.2f"|format(average_loss * -1) }}</b></p>
                <p>&emsp; This means that the net ev, the amount won or loss every time this strategy is played in the long run, is <b>{% if net_ev > 0 %} ${{ "%.2f"|format(net_ev) }} {% else %} -${{ "%.2f"|format(net_ev * -1) }} {% endif %}</b></p>
                <p>&emsp; The largest bankroll required to acquire a profit was <b>${{ "%.2f"|format(largest_profited_bankroll) }}</b></p>
                <p>&emsp; The largest bankroll which resulted in a bust was <b>${{ "%.2f"|format(largest_busted_bankroll) }}</b></p>
            </div>
            <div class="col">
                <h4 style="margin-bottom: 12px;">Input Parameters</h4>
                <p class="input_parameter">Strategy: <b>{{ strategy }}</b></p>
                <p class="input_parameter">Table Type: <b>{{ table_type }}</b></p>
                <p class="input_parameter">Minimum Bet: <b>{{ min_bet }}</b></p>
                <p class="input_parameter">Maximum Bet: <b>{{ max_bet }}</b></p>
                <p class="input_parameter">Minimum Bet Increment: <b>{{ min_bet_increment }}</b></p>
                <p class="input_parameter">Winning Positions: <b>{{ winning_positions }}</b></p>
                <p class="input_parameter">Payout Factor: <b>{{ payout_factor }}</b></p>
                <p class="input_parameter">Sim Count: <b>{{ sim_count }}</b></p>
                {% if bankrupt_at_max_bet %}
                <p class="input_parameter">Bankrupt At Max Bet: <b>{{ bankrupt_at_max_bet }}</b></p>
                {% else %}
                <p class="input_parameter">Bankrupt Level: <b>{{ bankrupt_level }}</b></p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 style="margin-bottom: 0px; margin-top: 12px;">Bankrolls Distribution</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                {{ bankrolls_box_plot }}
            </div>
            <div class="col-8">
                {{ bankrolls_bars_plot }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 style="margin-bottom: 0px; margin-top: 12px;">Bet Counts Distribution</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                {{ bet_counts_box_plot }}
            </div>
            <div class="col-8">
                {{ bet_counts_bars_plot }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 style="margin-bottom: 0px; margin-top: 12px;">Terminal Bets Distribution (the last bet made before the simulation ended)</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                {{ terminal_bets_box_plot }}
            </div>
            <div class="col-8">
                {{ terminal_bets_bars_plot }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 style="margin-bottom: 0px; margin-top: 12px;">Profits and Losses</h4>
            </div>
        </div>
        {% if bankrupt_at_max_bet %}
        <div class="row">
            <div class="col-4">
                {{ losses_box_plot }}
            </div>
            <div class="col-4">
                <div>
                    <p style="font-family: 'Open Sans', verdana, arial, sans-serif; font-size: 17px; margin-top: 8px;">Profits Table</p>
                </div>
                <div style="margin-top: 24px;">
                    {{ profits_table }}
                </div>
            </div>
        </div>
        {% else %}
        <div class="row" style="margin-top: 18px; margin-bottom: 18px;">
            <div class="col">
                {{ combined_profits_table }}
            </div>
        </div>
        {% endif %}
    </div>
</main>
{% endblock %}
