table {
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    font-size: 14px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
tr:hover {
    background-color: LightGray;
}
th {
    background-color: dodgerblue;
    color: white;
}
.input_parameter {
    font-family: monospace;
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 4px;
}
.footer_text {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    font-style: italic;
}
.summary_stat_msg {
    margin-bottom: 8px;
}
