<!doctype html>
<html lang="en" class="h-100">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Additional project CSS -->
    <link rel="stylesheet" href="../static/style.css">

    <title>Roulette Strategy Report</title>
</head>
<body class="d-flex flex-column h-100" style="background-color: aliceblue;">

{% block content %}{% endblock %}

<footer class="footer mt-auto" style="background-color: LightGrey; bottom: 0;">
    <div class="container-fluid">
        <div class="row align-items-start">
            <div class="col">
                <p class="footer_text">Output produced by <a href="https://gitlab.com/swiecickib/swiecickis-grind">Swiecicki's Grind</a></p>
                <p class="footer_text">Created by Brett Swiecicki | <a href="mailto:swiecickib@gmail.com">swiecickib@gmail.com</a> | <a href="https://www.linkedin.com/in/brettswiecicki/">https://www.linkedin.com/in/brettswiecicki/</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
